menu "Modbus-module Configuration"

menuconfig MODBUS_MANAGER_ENABLE
    bool "Modbus Manager"
    default y

if MODBUS_MANAGER_ENABLE

config MODBUS_MANAGER_POLL_PERIOD_MS
    int "Polling period (ms)"
    default 2000
    range 100 600000

config MODBUS_MANAGER_TASK_STACK_SIZE
    int "Task stack size"
    default 4096
    range 2048 16384

config MODBUS_MANAGER_TASK_PRIORITY
    int "Task priority"
    default 5
    range 1 24

endif

endmenu
